.titlebar {
  @apply fixed inset-x-0 top-0 h-12 shrink-0 z-[9999] drag-region;
}

.title-toolbar {
  --title-bar-height: 30px;
  height: var(--title-bar-height);
  left: 0;
  @apply absolute right-0 flex items-center justify-end overflow-hidden drag-region;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  @apply pointer-events-auto no-drag-region;
}